.App {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  .content{
     flex: 1;
  }
  .header{
    background-color: rgb(250, 250, 250);
    height: 60px;
    .selected{
      color: #333!important;
      padding-bottom: 5px;
      border-bottom: 1.5px solid #333;
    }
    .box{
      width: 70%;
      height: 100%;
      margin: 0px auto;
      padding: 0px 12px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      a:hover { 
        text-decoration:none; 
      }
      .boxleft{
        font-size: 20px;
        color: rgb(51, 51, 51);
      }
      .boxleft::after {
        content: "◦◦◦";
        margin-left: 0.5em;
      }
      .boxright{
        display: inline-flex;
        justify-content: flex-start;
        p{
          margin: 0px 10px;
          font-size: 14px;
          color: rgb(102, 102, 102);
        }
      }
      div{
        cursor: pointer;
      }
    }
  }
  .footer{
    text-align: center;
    padding: 50px 0px;
    color: #555;
    background: #fafafa;
    border-top: 1px solid #f2f2f2;
    p{
      padding: 2px 0px;
    }
  }
}

.wrap{
  flex: 1;
  width: 70%;
  margin: 0px auto;
  .brief{
     text-align: center;
     h2{
       padding: 12px 0px;
       font-size: 20px;
     }
     img{
        width: 150px;
        height: 150px;
        border-radius: 120px;
        margin-top: 20px;
     }
     ul{
      display: flex;
      justify-content: center;
       li{
          padding: 6px 10px;
          background: rgba(87, 199, 255, 0.1);
          margin: 12px 5px;
          border-radius: 3px;
       }      
     }
     p{
      padding: 12px 0px;
      color: rgba(0, 0, 0, 0.7);
    }
  }

  .work{
      text-align: left;
      padding-top: 40px;
      padding-bottom: 25px;
      .title{
        h3{
          font-size: 30px;
          padding-bottom: 12px;
          color: rgba(0,0,0,.8);
          font-weight: 400;
        }
        p{
          color: rgba(0, 0, 0, 0.7);
        }
      }
  }
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
